body {
  background: #1d222d;
  color: #fff;
}

.reveal {
  font-size: 40px;
}

.reveal img {
  display: block;
  object-fit: scale-down;
  max-height: 90%;
  max-width: 90%;
}

.reveal section img {
  border: none;
}

.reveal section img:only-child {
  margin: auto;
}

.reveal a img ,
.reveal a:hover img {
  background: none;
}

.reveal h1, .reveal h2,
.reveal h3, .reveal h4,
.reveal h5, .reveal h6 {
  text-transform: none;
}

.reveal li code,
.reveal p code {
  background: rgba(255, 255, 255, 0.06);
  padding: 0 0.125em;
}

.reveal pre code {
  max-height: 30em;
  font-size: 0.86em;
}

.reveal .record pre code {
  max-height: 40em;
  font-size: 0.66em;
  line-height: 1.1;
}

.reveal blockquote {
  width: 90%;
}

.reveal blockquote code {
  font-style: normal;
}

.reveal .about-me {
  font-size: 2.3vmin;
}

svg.icon {
  height: 1em;
  fill: currentColor;
  vertical-align: sub;
}

.soc-icons {
  font-size: 0.9em;
}

.soc-icons ul {
  list-style: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

.soc-icons li {
  font-size: 0.7em;
  whitespace: nowrap;
}

.soc-icons li:first-child {
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
}

.wsnr {
  white-space: nowrap;
}
